@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(./assets/pexels-stein-egil-liland-3408744.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.caixa-pesquisa {
    display: flex;
    align-items: center;
    position: relative;
}

.caixa-pesquisa label {
    position: absolute;
    bottom: 13px;
    right: 25px;
    font-size: 25px;
    cursor: pointer;
}

.caixa-pesquisa input {
    background: rgb(255, 255, 255);;
    width: 350px;
    height: 60px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    padding-left: 30px;
    outline: none;
    border-radius: 50px;
    border: none;
}

.caixa-pesquisa input::placeholder {
    color: rgb(0, 0, 0);
}

.caixa {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 0;
}

.clima {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 70px;
    border-radius: 50px;

    box-shadow: 10px 10px 60px white;
}

.clima img {
    width: 90px;
}

.clima {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clima h2 {
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 50px;
}

.temperatura {
    font-size: 100px;
    font-weight: 700;
}

.umidade {
    font-size: 50px;
}

.texto-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-imagem p {
    font-size: 35px;
    text-transform: capitalize;
}